.btn {
    min-width: 100px;
    background: black;
    font-family: "Sono", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: #ffd700;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 15px;
}

.link {
    text-decoration: none;
    color: #ffd700;
    font-size: 16px;
}
