.productList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 800px;
}

.tableProduct {
    margin: 10px auto;
}

.oneItemInRow {
    height: 20px;
    padding: 5px 10px;
    font-size: 20px;
}

tr .tableHead {
    font-family: Sono, sans-serif;
    font-size: 20px;
}

.oneItemInRow__name {
    width: 300px;
    background-color: lightgrey;
    font-family: Roboto, sans-serif;
}

.oneItemInRow__quantity {
    font-family: Sono, sans-serif;
    width: 150px;
    text-align: end;
    background-color: #c7c6c6;
}
.oneItemInRow__delete
{
    font-family: Sono, sans-serif;
    width: 50px;
    text-align: center;
    background-color: lightgrey;
}
.info__header_productList{
    font-family: Sono, sans-serif;
    margin: 10px 0;
}
