.tableProduct {
    margin: 10px auto;
}
.oneItemInRow {
    height: 20px;
    padding: 5px 10px;
    font-size: 20px;
}
tr .tableHead {
    font-family: Sono, sans-serif;
    font-size: 20px;
}
.oneItemInRow__name {
    width: 200px;
    background-color: lightgrey;
    font-family: Roboto, sans-serif;
}

.oneItemInRow__quantity {
    font-family: Sono, sans-serif;
    width: 150px;
    text-align: end;
    background-color: #c7c6c6;
}
