.coctaiList {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 10px 0;
}

.coctailCard {
    width: 275px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.coctailCard__header {
    padding: 10px 0 0 10px;
    font-family: Sono;
}
.ingradientRow {
    font-size: 16px;
    font-weight: bold;
    font-family: Sono, sans-serif;
    border: 1px solid black;
}
.ingradientRow__ingradient {
    width: 225px;
}
.ingradientRow__quantity {
    width: 30px;
}
.descriptionCocktail{
    font-size: 12px;
}
CardHeader {
    font-weight: bold;
}
